<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Monolith</title>
  <link id="site_icon" rel="icon" href="/media/monolith_main_logo_dark.ico">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"/>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cal+Sans&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/css/main_style.css">
  <link rel="stylesheet" href="/css/auths.css">
  <link rel="stylesheet" href="/css/tools.css">
  <link rel="stylesheet" href="/css/pass_disp.css">
  <script defer type="module" src="/js/main.js"></script>
  <script defer type="module" src="/js/auths.js"></script>
  <script defer type="module" src="/js/tools.js"></script>
  <script defer type="module" src="/js/pass_disp.js"></script>
</head>