<div id="auth_portals_container">
  <div id="auth_list_holder">
    <div class="input_hldr">
        <div class="input_cover">
            <i class="material-symbols-rounded input_icon">search</i>
            <input id="auth_search_input" class="data_input" type="text" placeholder="Search portals">
            <button type="button" class="input_cleanser transparent_btn"><i class="material-symbols-rounded btn_icon">close</i></button>
        </div>
    </div>
    <div id="no_portals_hldr" class="no_data_hldr">
        <i class="material-symbols-rounded no_data_icon">help</i>
        <p class="no_portals_text">No auth portals found</p>
    </div>
    <% for (let i = 0; i < data.length; i++) { %>
        <div id="<%= data[i]['title']%>" class="auth_portal_card <%= data[i]['starred'] ? 'starred' : '' %>">
            <div class="portal_name_hldr">
            <i class="material-symbols-rounded portal_card_icon">folder</i>
            <input type="text" class="portal_title" readonly value="<%= data[i]['title']%>">
            <div class="portal_btns_hldr">
                <button type="button" class="portal_edit_btn transparent_btn"><i class="material-symbols-rounded btn_icon">stylus</i></button>
                <button type="button" class="portal_delete_btn transparent_btn"><i class="material-symbols-rounded btn_icon">delete_forever</i></button>
                <button type="button" class="portal_star_btn transparent_btn"><i class="material-symbols-rounded btn_icon">star</i></button>
                <button type="button" class="portal_submit_edit_btn transparent_btn"><i class="material-symbols-rounded btn_icon">check</i></button>
                <button type="button" class="portal_cancel_edit_btn transparent_btn"><i class="material-symbols-rounded btn_icon">close</i></button>
            </div>
            </div>
            <i class="material-symbols-rounded portal_card_arrow">arrow_forward_ios</i>
        </div>
    <% } %>
  </div>
  <div class="input_hldr">
      <div class="input_cover">
          <i class="material-symbols-rounded input_icon">match_case</i>
          <input id="auth_portal_input" class="data_input" type="text" placeholder="Enter portal title">
      </div>
      <button type="button" id="create_portal_btn" class="advanced_btn"><i class="material-symbols-rounded btn_icon">create_new_folder</i> Add</button>
  </div>
</div>