<%- include ('partials/header.ejs') %>
<body>
    <main id="main_container">
        <!-- Auth portals -->
        <%- include ('auths.ejs') %>
        <!-- Tools container -->
        <%- include ('tools.ejs') %>
        <!-- Password display -->
        <%- include ('pass_disp.ejs') %>
    </main>
</body>
</html>