<div id="pass_disp_container">
  <div id="pass_disp_top">
      <h1 id="pass_disp_title">...</h1>
      <button type="button" id="pass_disp_close" class="transparent_btn"><i class="material-symbols-rounded btn_icon">close</i></button>
  </div>
  <div id="pass_list_hldr">
    <div id="no_creds_hldr" class="no_data_hldr">
      <i class="material-symbols-rounded no_data_icon">help</i>
      <p class="no_creds_text">No credentials found</p>
    </div>
  </div>
</div>