<div id="pass_disp_container">
  <div id="pass_disp_top">
    <h1 id="pass_disp_title">...</h1>
    <button id="pass_disp_closer" class="transparent_btn" type="button"><i class="material-symbols-rounded btn_icon">close</i></button>
  </div>
  <div class="input_hldr">
    <div class="input_cover">
        <i class="material-symbols-rounded input_icon">search</i>
        <input id="pass_search_input" class="data_input" type="text" placeholder="Search credentials">
        <button type="button" class="input_cleanser transparent_btn"><i class="material-symbols-rounded btn_icon">close</i></button>
    </div>
  </div>
  <div id="pass_list_hldr">
    <div id="no_creds_hldr" class="no_data_hldr">
      <i class="material-symbols-rounded no_data_icon">help</i>
      <p class="no_creds_text">No credentials found</p>
    </div>
  </div>
</div>