<div id="tools_container">
  <h1 id="main_title">Password manager</h1>
  <div id="data_input_section">
      <div class="input_hldr">
          <div class="input_cover">
              <i class="material-symbols-rounded input_icon">person</i>
              <input id="login_input" class="data_input" type="text" placeholder="Enter login">
              <button type="button" class="vis_toggler transparent_btn" id="login_vis_toggler"><i class="material-symbols-rounded btn_icon">visibility_off</i></button>
          </div>
          <button type="button" id="copy_login_btn" class="copy_btn transparent_btn"><i class="material-symbols-rounded btn_icon">content_copy</i></button>
      </div>
      <div class="input_hldr">
          <div class="input_cover">
              <i class="material-symbols-rounded input_icon">encrypted</i>
              <input id="password_input" class="data_input" type="password" placeholder="Enter password">
              <button type="button" id="pass_vis_toggler" class="vis_toggler transparent_btn"><i class="material-symbols-rounded btn_icon">visibility</i></button>
          </div>
          <button type="button" id="copy_pass_btn" class="copy_btn transparent_btn"><i class="material-symbols-rounded btn_icon">content_copy</i></button>
          <button type="button" id="generate_btn" class="advanced_btn"><i class="material-symbols-rounded btn_icon">casino</i> Generate</button>
      </div>
  </div>
  <hr>
  <div id="generator_settings_container">
    <div id="length_container">
        <div id="length_disp_container">
            <h3 id="length_label">Password length</h3>
            <div id="length_disp_hldr">
                <input type="number" id="length_disp"></input>
            </div>
        </div>
        <input type="range" id="length_range" min="15" max="100" value="100">
      </div>
      <div id="main_complexity_container">
        <span class="complexity_container">
            <input type="checkbox" name="" id="uppercase_checkbox" class="complexity_checkbox" checked>
            <i class="material-symbols-rounded complexity_icon">uppercase</i>
            <p class="complexity_desc">Uppercase</p>
        </span>
        <span class="complexity_container">
            <input type="checkbox" name="" id="lowercase_checkbox" class="complexity_checkbox" checked>
            <i class="material-symbols-rounded complexity_icon">lowercase</i>
            <p class="complexity_desc">Lowercase</p>
        </span>
        <span class="complexity_container">
            <input type="checkbox" name="" id="numbers_checkbox" class="complexity_checkbox" checked>
            <i class="material-symbols-rounded complexity_icon">pin</i>
            <p class="complexity_desc">Numbers</p>
        </span>
        <span class="complexity_container">
            <input type="checkbox" name="" id="symbols_checkbox" class="complexity_checkbox" checked>
            <i class="material-symbols-rounded complexity_icon">data_object</i>
            <p class="complexity_desc">Symbols</p>
        </span>
    </div>
  </div>
  <hr>
  <div id="save_container">
    <div id="portal_dropdown" class="dropdown">
        <i class="material-symbols-rounded dropdown_icon">folder_copy</i>
        <p id="portal_dropdown_disp_text" class="dropdown_disp_text">Choose a portal</p>
        <i class="material-symbols-rounded dropdown_arrow">keyboard_arrow_down</i>
        <div id="portal_dropdown_menu" class="dropdown_menu">
            <% for (let i = 0; i < data.length; i++) { %>
                <div id="<%= data[i]['title']%>_option" class="dropdown_option">
                    <i class="material-symbols-rounded dropdown_icon">folder</i>
                    <p class="dropdown_option_value"><%= data[i]['title']%></p>
                </div>
            <% } %>
        </div>
    </div>
    <button type="button" id="save_btn" class="advanced_btn"><i class="material-symbols-rounded btn_icon">cloud_upload</i> Save</button>
  </div>
</div>