:root {
  --bg1: #121314;
  --bg2: #1a1c1e;
  --bg3: #1b1d1f;
  --bg4: #4b4b4b;
  --bg5: #444444;
  --accent1: #34351e;
}

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--bg1);
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}

* {
  font-family: 'Rubik', sans-serif;
}

.material-symbols-rounded {
  user-select: none;
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 45
}

.btn_icon {
  position: relative;
  color: white;
  font-size: 23px;
  transition: all 0.1s;
}

.transparent_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: transform 0.1s;
  padding: 3px;
}

.transparent_btn:hover {
  transform: scale(1.15);
}

.transparent_btn:active {
  transform: scale(0.95);
}

.round_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: white;
  background-color: var(--bg2);
  box-sizing: border-box;
  border-radius: 100%;
  padding: 5px;
  transition: all 0.1s;
}

.round_btn:hover {
  transform: scale(1.05);
}

.round_btn:active {
  transform: scale(0.95);
}

.round_btn .btn_icon {
  font-size: 28px;
}

.advanced_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 7px;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: white;
  background-color: var(--bg2);
  box-sizing: border-box;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.1s;
}

.advanced_btn:hover {
  transform: scale(1.05);
}

.advanced_btn:active {
  transform: scale(0.95);
}

.advanced_btn i {
  color: white;
}

.input_hldr {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
}

.input_cover {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  gap: 7px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
  border-radius: 50px;
  padding: 0 13px;
  box-sizing: border-box;
}

.input_icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 100%;
  color: white;
  font-size: 22px;
}

.data_input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  padding: 13px 0;
}

input[readonly] {
  caret-color: transparent;
}

.input_cleanser {
  display: none;
}

#main_container {
  position: relative;
  width: 60dvw;
  height: 100dvh;
  margin: auto;
  padding: 20px;
  background: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 50px;
  box-sizing: border-box;
}

.no_data_hldr {
  position: relative;
  margin: auto;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(119, 119, 119);
}

.dropdown {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--bg2);
  padding: 0 10px 0 15px;
  box-sizing: border-box;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  gap: 10px;
}

.dropdown_icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 100%;
  color: white;
  font-size: 22px;
}

.dropdown_disp_text {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px 0;
  transition: all 0.1s;
  color: white;
  user-select: none;
  font-weight: 400;
  margin: 0;
}

.dropdown_arrow {
  position: relative;
  color: white;
  font-size: 23px;
  transition: all 0.1s;
}

.dropdown.open .dropdown_arrow {
  transform: rotate(180deg);
}

.dropdown_menu {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-color: var(--bg2);
  border-radius: 10px;
  overflow: auto;
  z-index: 1;
  box-sizing: border-box;
  top: 100%;
  left: 0;
  margin-top: 5px;
  visibility: hidden;
  transition: all 0.1s;
  opacity: 0;
  scroll-snap-type: y mandatory;
  scrollbar-width: thin;
  scrollbar-color: gray transparent;
}

.dropdown_menu::-webkit-scrollbar {
  width: 4px;
  background: none;
  border-radius: 5px;
}

.dropdown_menu::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 5px;
}

.dropdown.open .dropdown_menu {
  visibility: visible;
  opacity: 1;
}

.dropdown_option {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px 13px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.1s;
  gap: 10px;
  scroll-snap-align: start;
}

.dropdown_option:hover {
  background-color: var(--bg3);
}

.dropdown_option_value {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.1s;
  color: white;
  user-select: none;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
  overflow: hidden;
}

@media screen and (max-width: 1900px) {
  #main_container {
    width: 85dvw;
  }
}

@media screen and (max-width: 1100px) {
  #main_container {
    width: 98dvw;
  }
}

@media screen and (max-width: 1000px) {
  #main_container {
    width: 100dvw;
    flex-direction: column;
    height: auto;
  }
}