html {
  height: 100%;
}
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #05070a;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  background: linear-gradient(45deg, 
                    #05070a,         /* start */
                    #070a0f 25%,     /* intermediate at 25% */
                    #0b1018 75%,     /* intermediate at 75% */
                    #0d131d);        /* end */
}

* {
  font-family: 'Rubik', sans-serif;
}

.material-symbols-rounded {
  user-select: none;
  font-variation-settings:
  'FILL' 1,
  'wght' 600,
  'GRAD' 0,
  'opsz' 35
}

.btn_icon {
  position: relative;
  color: white;
  font-size: 23px;
  transition: all 0.1s;
}

.transparent_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  transition: transform 0.1s;
  padding: 3px;
}

.transparent_btn:hover {
  transform: scale(1.15);
}

.transparent_btn:active {
  transform: scale(0.95);
}

.advanced_btn {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 7px;
  height: 100%;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border: none;
  background: none;
  outline: none;
  color: white;
  background-color: #121b29;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 8px 15px;
  font-size: 15px;
  font-weight: 500;
  transition: all 0.1s;
}

.advanced_btn:hover {
  transform: scale(1.05);
}

.advanced_btn:active {
  transform: scale(0.95);
}

.advanced_btn i {
  color: #2cd472;
}

.input_hldr {
  position: relative;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  width: 100%;
}

.input_cover {
  position: relative;
  height: auto;
  width: 100%;
  display: flex;
  gap: 7px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #0d131d, #141e2c);
  border-radius: 50px;
  padding: 0 10px;
  box-sizing: border-box;
}

.input_icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 100%;
  color: white;
  font-size: 22px;
}

.data_input {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: white;
  background-color: transparent;
  padding: 13px 0;
}

input[readonly] {
  caret-color: transparent;
}

.input_cleanser {
  display: none;
}

#main_container {
  position: relative;
  width: 55dvw;
  height: 100dvh;
  margin: auto;
  padding: 20px;
  background: transparent;
  border-radius: 8px;
  display: flex;
  flex-direction: row;
  gap: 20px;
  box-sizing: border-box;
}

.no_data_hldr {
  position: relative;
  margin: auto;
  display: none;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  color: rgb(119, 119, 119);
}

.dropdown {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(45deg, #0d131d, #141e2c);
  padding: 0 10px 0 15px;
  box-sizing: border-box;
  border-radius: 10px;
  box-sizing: border-box;
  cursor: pointer;
  gap: 10px;
}

.dropdown_icon {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  aspect-ratio: 1 / 1;
  height: 100%;
  color: white;
  font-size: 22px;
}

.dropdown_disp_text {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px 0;
  transition: all 0.1s;
  color: white;
  user-select: none;
  font-weight: 400;
  margin: 0;
}

.dropdown_arrow {
  position: relative;
  color: white;
  font-size: 23px;
  transition: all 0.1s;
}

.dropdown.open .dropdown_arrow {
  transform: rotate(180deg);
}

.dropdown_menu {
  position: absolute;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  background-image: linear-gradient(45deg, #0d131d, #141e2c);
  border-radius: 10px;
  overflow: auto;
  z-index: 1;
  box-sizing: border-box;
  top: 100%;
  left: 0;
  margin-top: 5px;
  visibility: hidden;
  transition: all 0.1s;
  opacity: 0;
}

.dropdown.open .dropdown_menu {
  visibility: visible;
  opacity: 1;
}

.dropdown_option {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  padding: 10px 13px;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.1s;
  gap: 10px;
}

.dropdown_option:hover {
  background-color: #121b29;
}

.dropdown_option_value {
  width: 100%;
  box-sizing: border-box;
  cursor: pointer;
  background-color: transparent;
  transition: all 0.1s;
  color: white;
  user-select: none;
  font-weight: 400;
  font-size: 15px;
  margin: 0;
}

@media screen and (max-width: 1620px) {
  #main_container {
    width: 85dvw;
  }
}

@media screen and (max-width: 1100px) {
  #main_container {
    width: 98dvw;
  }
}