#pass_disp_container {
  position: relative;
  height: 100%;
  width: 50%;
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

#pass_disp_top {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-top: 10px;
}

#pass_disp_title {
  position: relative;
  width: 100%;
  text-align: start;
  color: white;
  transition: all 0.1s;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  padding-left: 10px;
  font-size: 25px;
}

.pass_disp_icon {
  position: relative;
  color: white;
  font-size: 33px;
  transition: all 0.1s;
}

.cred_card {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  box-sizing: border-box;
  transition: all 0.1s;
}

.cred_card_input_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  box-sizing: border-box;
}

.cred_submit_edit_btn, .cred_cancel_edit_btn {
  display: none;
}

.cred_delete_btn {
  padding: 4px;
}

.cred_delete_btn:hover .btn_icon {
  color: var(--accent4);
}

#pass_list_hldr {
  position: relative;
  overflow: auto;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  justify-content: start;
  padding-right: 20px;
  box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
  #pass_disp_container {
    width: 100%;
  }
}