#main_title {
  color: white;
  margin: 0;
  margin-top: 25px;
  margin-bottom: 20px;
}

#tools_container {
  position: relative;
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 45px;
}

#data_input_section {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 5px;
}

#generator_settings_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 15px;
}

#length_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 12px;
}

#length_disp_hldr {
  position: relative;
  width: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 5px 7px;
  background-color: #121b29;
  border-radius: 10px;
  box-sizing: border-box;
  gap: 1px;
}

#length_disp {
  position: relative;
  color: black;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  color: white;
  margin: 0;
  padding: 0;
  background: none;
  border: none;
  outline: none;
  font-size: 18px;
  width: min-content;
  appearance: textfield;
  font-weight: 400;
}

#length_disp::-webkit-outer-spin-button,
#length_disp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

#length_unit {
  position: relative;
  color: white;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 14px;
  user-select: none;
}

#length_range {
  width: 100%;
  padding: 0;
  box-sizing: border-box;
  cursor: pointer;
  appearance: none;
  margin: 0;
  background-color: #121b29;
  border-radius: 10px;
  height: 5px;
  position: relative;
  z-index: 1;
  transition: all 0.1s;
}

#length_range:hover::-webkit-slider-thumb {
  transform: scale(1.2);
}

#length_range:active::-webkit-slider-thumb {
  transform: scale(0.9);
}

#length_range:hover::-moz-range-thumb {
  transform: scale(1.2);
}

#length_range:active::-moz-range-thumb {
  transform: scale(0.9);
}

#length_range:hover::-ms-thumb {
  transform: scale(1.2);
}

#length_range:active::-ms-thumb {
  transform: scale(0.9);
}

#length_range::-webkit-slider-thumb {
  -webkit-appearance: none;
  position: relative;
  z-index: 2;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: none;
  transition: all 0.1s;
  background-color: white;
}

#length_range::-moz-range-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: none;
  transition: all 0.1s;
  background-color: white;
}

#length_range::-ms-thumb {
  -webkit-appearance: none;
  appearance: none;
  position: relative;
  z-index: 2;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: none;
  transition: all 0.1s;
  background-color: white;
}

#main_complexity_container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.complexity_container {
  display: flex;
  flex-direction: row;
  gap: 10px;
  cursor: pointer;
  background-color: #121b29;
  border-radius: 50px;
  padding: 8px 13px;
  box-sizing: border-box;
  width: auto;
  transition: transform 0.1s;
  justify-content: start;
  align-items: center;
  background-image: linear-gradient(45deg, #0d131d, #141e2c);
}

.inactive_complexity {
  outline: 1px solid rgb(255, 40, 40);
}

.complexity_container:hover {
  transform: scale(1.03);
}

.complexity_container:active {
  transform: scale(0.97);
}

.complexity_container p {
  user-select: none;
  margin: 0;
  font-weight: 400;
  color: white;
}

.complexity_icon {
  color: white;
}

.complexity_container input[type="checkbox"] {
  cursor: pointer;
  margin: 0;
  pointer-events: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  border: 2px solid rgb(255, 40, 40);
  background-color: #121b29;
  outline: none;
}

.complexity_container input[type="checkbox"]:checked {
  background-color: #2cd472;
  border: 2px solid #2cd472;
}

#save_container {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
}